.naviLinks {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
}

.button {
    height: 50px;
    width: 100px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: grid;
    width: 100%;
    grid-template-columns: 50% auto auto auto;
}

table {
    border: 1px solid;
    width: 90%;
}

td,th{
    border: 1px solid;
    padding: 10px;
}