.naviLinks {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
}

.button {
    height: 50px;
    width: 100px;
    background-color: #ceffcf;
}

.button:hover {
    transition: 0.2s ease-in;
    background-color: #498f4a;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: grid;
    width: 100%;
    grid-template-columns: 50% auto auto auto;
}

table {
    border: 1px solid;
    width: 90%;
}

td,th{
    border: 1px solid;
    padding: 10px;
}

body {
    background-color: rgb(213, 253, 253);
}

.schedulenew {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: larger;
}
