/* Fonts */
@font-face {
    font-family: "Proxima";
    src: url("../fonts/ProximaNovaFont.otf");
}

@font-face {
    font-family: 'RobotoNormal';
    font-style: normal;
    font-weight: 300;
    src: 
        url('../fonts/roboto-v30-latin/roboto-v30-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin/roboto-v30-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'RobotoBold';
    font-style: normal;
    font-weight: 700;
    src: 
        url('../fonts/roboto-v30-latin/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* End of Fonts */

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(213, 253, 253);
    margin: 0px;
    background-image: url(schedule_img.png);
}

/* Action Bar Formatting */
.actionBar{
    font-family: "RobotoNormal";
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    width: 90%;
    margin: auto;
}

.h2{
    font-family: "RobotoBold";
    color: rgb(5,108,108);
}

.selectUser {
    align-self: center;
}

.selectUser input {
    font-family: "RobotoNormal";
    height: 30px;
    width: 100px;
    background-color:  rgb(155, 244, 244);
    border-width: thin;
}

.selectUser input:hover {
    transition: 0.2s ease-in;
    background-color: rgb(8,164,164);
}

.newUser{
    align-self: center;
    margin: 0px;
}

.newUser input[type=submit]{
    font-family: "RobotoNormal";
    height: 30px;
    width: 100px;
    background-color:  rgb(155, 244, 244);
    border-width: thin;
}

.newUser input[type=submit]:hover {
    transition: 0.2s ease-in;
    background-color: rgb(8,164,164);
}

.error{
    color: red;
}

.deleteUser{
    align-self: center;
}

.deleteUser input {
    font-family: "RobotoNormal";
    height: 30px;
    width: 100px;
    background-color:  rgb(155, 244, 244);
    border-width: thin;
}

.deleteUser input:hover {
    transition: 0.2s ease-in;
    background-color: rgb(8,164,164);
}

select {
    font-family: "RobotoNormal";
    height: 25px;
    width: 80px    
}

/*Header Formatting*/
.header {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto 145px;
    background-color: rgb(5,108,108);
}

.title{
    font-family: "Proxima";
    display: flex;
    align-items: center;
    align-self: center;
    margin: 0px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(8,164,164);
    height: 80%;
    width: fit-content;
    border-radius: 10px;
    color: rgb(213, 253, 253);
}

.time{
    font-family: "Proxima";
    text-align: right;
    padding-right: 20px;
    color: rgb(213, 253, 253);
}

.day{
    font-family: "Proxima";
    text-align: right;
    padding-right: 20px;
    color: rgb(213, 253, 253);
}

/*End of Header Formatting*/

hr{
    border: 0;
    border-top: 5px solid rgb(5,108,108);
}

/*Calendar Formatting*/
.tableTitle{
    font-family: "RobotoBold";
    color: rgb(5,108,108);
}

table {
    border: 1px solid;
    width: 90%;
}

td,th{
    border: 1px solid;
    padding: 10px;
}

.headers{
    font-family: "RobotoBold";
    font-size: x-large;
    color: rgb(3,70,70);
}

.timeslots{
    font-size: larger;
    color: rgb(5,108,108);
    font-family: "RobotoBold";
}

.classes{
    font-family: "RobotoBold";
    font-size: large;
    color: rgb(2,33,33);
}
/*End of Calendar Formatting*/