.parameters{
    display: grid;
    grid-template-columns: 200px auto;
}

.days{
    background-color: aqua;
}

.times{
    display: grid;
    grid-template-columns: auto;
}

.timeslots{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    background-color: bisque;
}

body {
    background-color: rgb(213, 253, 253);
}

.error {
    font-size: 20px;
    color: gray;
    padding: 10px;
    background-color: rgb(253, 223, 213);
    width: 50%;
}