/* Fonts */
@font-face {
    font-family: "Proxima";
    src: url("../fonts/ProximaNovaFont.otf");
}

@font-face {
    font-family: 'RobotoNormal';
    font-style: normal;
    font-weight: 300;
    src: 
        url('../fonts/roboto-v30-latin/roboto-v30-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin/roboto-v30-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'RobotoBold';
    font-style: normal;
    font-weight: 700;
    src: 
        url('../fonts/roboto-v30-latin/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* End of Fonts */

.parameters{
    display: grid;
    grid-template-columns: 200px auto;
}

.days{
    background-color: aqua;
}

.times{
    display: grid;
    grid-template-columns: auto;
}

.timeslots{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    background-color: bisque;
}

body {
    background-color: rgb(213, 253, 253);
    background-image: url(schedule_img.png);
}

.error {
    font-size: 20px;
    color: gray;
    padding: 10px;
    background-color: rgb(253, 223, 213);
    width: 50%;
}

/*Header Formatting For Inner Pages*/
.header {
    display: grid;
    width: 100%;
    grid-template-columns: 195px auto auto 145px;
    background-color: rgb(5,108,108);
}

.title{
    font-family: "Proxima";
    display: flex;
    align-items: center;
    align-self: center;
    margin: 0px;
    margin-left: 10px;
    padding-left: 20px;
    background-color: rgb(8,164,164);
    height: 80%;
    border-radius: 10px;
    color: rgb(213, 253, 253);
}

.pageTitle{
    font-family: "Proxima";
    color: rgb(213, 253, 253);
    display: flex;
    align-items: center;
    align-self: center;
    margin: 0px;
    margin-left: 20px;
    height: 80%;
    width: 100%;
}

.time{
    font-family: "Proxima";
    text-align: right;
    padding-right: 20px;
    color: rgb(213, 253, 253);
}

.day{
    font-family: "Proxima";
    text-align: right;
    padding-right: 20px;
    color: rgb(213, 253, 253);
}
/* End of Header Formatting */

.addClass input[type=submit] {
    font-family: 'RobotoNormal';
    height: 30px;
    width: 100px;
    background-color:  rgb(155, 244, 244);
    border-width: thin;
}

.addClass input[type=submit]:hover {
    transition: 0.2s ease-in;
    background-color: rgb(8,164,164);
}

.addClass button {
    font-family: "RobotoBold";
    font-size: large;
    color: rgb(3,70,70);
    height: 50px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    background-color:  rgb(155, 244, 244);
    border-radius: 10px;
    position:absolute;
    right: 20px;
}

.addClass button:hover {
    transition: 0.2s ease-in;
    background-color: rgb(8,164,164);
}

.addClass h1 {
    font-family: "RobotoBold";
}

.addClass {
    font-family: 'RobotoNormal';
}

