.parameters{
    display: grid;
    grid-template-columns: 200px auto;
}

.days{
    background-color: aqua;
}

.times{
    display: grid;
    grid-template-columns: auto;
}

.timeslots{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    background-color: bisque;
}

body {
    background-color: rgb(213, 253, 253);
}