{% extends 'base.html' %}

<!-- Insert Head Here -->
{% block head %}
<script src="{{ url_for('static', filename='javascript/index.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
<link rel="icon" href="{{ url_for('static', filename='css/icon.png')}}">
<title>{{currentUser}}'s Schedule</title>
{% endblock %}

<!-- Insert Body Here -->
{% block body %}
<div class="header">
    <div class="title"><h1>Scheduler</h1></div>
    <h1 class="pageTitle">{{currentUser}}'s Schedule</h1>
    <h1 id="day" class="day">Monday 07/20/2022</h1>
    <h1 id="time"class="time">11:11:11</h1>
</div>
<div class="naviLinks">
    <h2>Click on an event to edit it!</h2>
    {% if currentClass == "none"%}
        <h2>You currently have <b>no events</b> right now!</h2>
    {% else %}
        <h2>You currently have <b>{{currentClass}}</b> right now!</h2>
    {% endif %}
    <button class="button" onclick="document.location='/newevent'">Add New Event</button>
    <button class="button" onclick="document.location='/delete'">Delete an Event</button>
    <button class="button" onclick="document.location='/'">Switch User</button>
</div>
<div class="center">
    <table class="schedule">
        <tr>
            {% for header in table.columns.values %}
                <th class="headers">{{header}}</th>
            {% endfor %}
        </tr>

        {% for row in table.index.values %}
            <tr>
                {% for cell in table.loc[row].values %}
                    {% if cell in timeSlots %}
                        <td class="timeslots">
                            {{cell}} 
                        </td>
                    {% else %}
                        <td class="classes">
                            <a href="/update/{{cell}}">{{cell}}</a>
                        </td>
                    {% endif %}
                {% endfor %}  
            </tr>
        {% endfor %} 
    </table>
</div>
{% endblock %}