{% extends 'base.html' %}

<!-- Insert Head Here -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}

<!-- Insert Body Here -->
{% block body %}
<div class="center"><h1>{{currentUser}}'s Class Schedule</h1></div>
<div class="naviLinks">
    <h2>Click on the class to edit it!</h2>
    {% if currentClass == "none"%}
        <h2>You currently have no classes right now!</h2>
    {% else %}
        <h2>You currently have {{currentClass}} right now!</h2>
    {% endif %}
    <button class="button" onclick="document.location='/newclass'">Add New Class</button>
    <button class="button" onclick="document.location='/delete'">Delete a Class</button>
    <button class="button" onclick="document.location='/'">Switch User</button>
</div>
<div class="center">
    <table class="schedule">
        <tr>
            {% for header in table.columns.values %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>

        {% for row in table.index.values %}
            <tr>
                {% for cell in table.loc[row].values %}
                    <td>
                        <a href="/update/{{cell}}">{{cell}}</a>
                    </td>
                {% endfor %}  
            </tr>
        {% endfor %} 
    </table>
</div>
{% endblock %}