{% extends 'base.html' %}

<!-- Insert Head Here -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

<!-- Insert Body Here -->
{% block body %}
<h1>Schedule</h1>
<table>
    <tr>
        {% for header in table.columns.values %}
            <th>{{header}}</th>
        {% endfor %}
    </tr>

    {% for row in table.index.values %}
        <tr>
            {% for cell in table.loc[row].values %}
                <td>
                    <a href="/update/{{cell}}">{{cell}}</a>
                </td>
            {% endfor %}  
        </tr>
    {% endfor %} 
</table>

<a href="/newclass">Add New Class</a>
<a href="/delete">Delete a Class</a>
{% endblock %}