{% extends 'base.html' %}

<!-- Insert Head Here -->
{% block head %}
<script src="{{ url_for('static', filename='javascript/login.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

<!-- Insert Body Here -->
{% block body %}

<div class="center"><h1>Welcome to Class Schedule!</h1></div>
<div class="actionBar">
    <div class="selectUser">
        <h2>Select User!</h2>
        <form name = "selectUser" action="http://localhost:5000/calendar" method = "POST" onsubmit="return validateSelectUserForm()">
            <label for="login">Whose calendar do you want to access?</label>
            <br>
            <select name="username" id="login">
                {% for users in listOfUsers %}
                <option value={{users}}>{{users}}</option>
                {% endfor %}
            </select>
            <p><input type = "submit" value = "Select User"/></p>
        </form>
    </div>

    <div class="newUser">
        <h2>Or, you can create a new user!</h2>
        <form name = "newUserForm" action="http://localhost:5000/" method = "POST" onsubmit="return validateNameForm()" required>
            <p>Username: <input type="text" name="newUser" id="newUser"></p>
            <p><input type = "submit" value = "Create User"/></p>
        </form>
    </div>

    <div class="deleteUser">
        <h2>You can also delete a user!</h2>
        <form action="http://localhost:5000/" method = "POST">
            <label for="deleteUser">Which user do you want to delete?</label>
            <br>
            <select name="deleteUser" id="deleteUser">
                {% for users in listOfUsers %}
                <option value={{users}}>{{users}}</option>
                {% endfor %}
            </select>
            <p><input type = "submit" value = "Delete User" onclick="warning(event)"/></p>
        </form>
    </div>
</div>
<div class="center"><h1>Check Everyone's Schedule!</h1></div>
<div class="center">
    <table class="schedule">
        <tr>
            {% for header in table.columns.values %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>

        {% for row in table.index.values %}
            <tr>
                {% for cell in table.loc[row].values %}
                    {% if cell in timeSlots %}
                    <td>
                        {{cell}} 
                    </td>
                    {% else %}
                    <td>
                        {% for user in cell%}
                            {{user}} <br>
                        {% endfor %}  
                    </td>
                    {% endif %}
                {% endfor %}  
            </tr>
        {% endfor %} 
    </table>
</div>
{% endblock %}