{% extends 'base.html' %}

<!-- Insert Head Here -->
{% block head %}
<script src="{{ url_for('static', filename='javascript/addUpdateAndDelete.js')}}"> </script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/update.css')}}">
{% endblock %}

<!-- Insert Body Here -->
{% block body %}

<!-- Error Messages -->
{% if error %}
    <div class="error">{{ error }}</div>
{% endif %}

<!-- Content Proper -->
<div class="header">
    <div class="title"><h1>Scheduler</h1></div>
    <h1 class="pageTitle">Update {{currentUser}}'s Schedule </h1>
    <h1 id="day" class="day">Monday 07/20/2022</h1>
    <h1 id="time"class="time">11:11:11</h1>
</div>

<h1>Update class "{{recordToUpdate["class_name"]}}"</h1>
<form name = "addClass" action='http://localhost:5000/update/{{recordToUpdate["class_name"]}}' method = "POST" onsubmit="return validateAddClassForm()">
    <p>Class Name: <input type="text" name="class_name" id="class_name" value={{recordToUpdate["class_name"]}}></p>
    <p>Class Time Start: <input type="number" name="class_time_start" id="class_time_start" value={{recordToUpdate["class_time_start"]}}> Enter military time (e.g. 730, 1130)</p>
    <p>Class Time End: <input type="number" name="class_time_end" id="class_time_end" value={{recordToUpdate["class_time_end"]}}> Enter military time (e.g. 730, 1130)</p>
    <p>Days of Classes: <input type="text" name="days" id="days" value={{recordToUpdate["days"]}}> Enter days separted by commas (eg. Monday,Wednesday,Friday)</p>
    <p><input type = "submit" value = "Update Class" /></p>
</form>
<button onclick="document.location='/calendar'">Return to Calendar</button>
{% endblock %}